# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
.venv/

# Chroma DB
chroma_db/

# Build files
*.zip

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Bedrock
.bedrock_agentcore/build/